.row
  .panel
    %h1 We're Riding on Rails!
.row
  .four.columns
    %h5 Something Old
    %p
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
  .four.columns
    %h5 Something New
    %p
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
  .four.columns
    %h5 Something Borrowed
    %p
      Maecenas sed diam eget risus varius blandit sit amet non magna.
  .four.columns
    %h5 Something Blue
    %p
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
