- cache do
  .row
    .small-12.large-12.columns
      .panel
        %h1 We're Riding on Rails!
  .row
    .small-12.medium-6.columns
      %h3 Dynamic Pages
      %p.subtle
        This is a dynamic home page ready for your modifications.
        Add more pages quickly and easily with config/routes.rb and app/views/pages.
    .small-12.medium-6.columns
      %h3 Foundation 5
      %p.subtle
        You're set up to us a great styling framework in a performant, extensible fashion. See application.sass to get started.
  .row
    .small-12.medium-6.columns
      %h3 Heroku Ready
      %p.subtle
        Deploy your application on Heroku successfully with two commands in less than a minute.
    .small-12.medium-6.columns
      %h3 Breadcrumbs
      %p.subtle
        Gem choices that work and scale well together.
        = link_to 'Branches', 'https://github.com/rocketmobile/rails_base_app/branches', target: '_blank'
        with working feature examples.
        = link_to 'Tutorial documents', 'https://github.com/rocketmobile/rails_base_app/wiki', target: '_blank'
        for things you will probably find yourself wanting to do.
