- cache do
  .row
    .small-12.large-12.columns
      .panel
        %h1 We're Riding on Rails!
  .row
    .small-6.large-3.columns
      %h5 Something Old
      %p
        Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    .small-6.large-3.columns
      %h5 Something New
      %p
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    .small-6.large-3.columns
      %h5 Something Borrowed
      %p
        Maecenas sed diam eget risus varius blandit sit amet non magna.
    .small-6.large-3.columns
      %h5 Something Blue
      %p
        Donec id elit non mi porto gravida at eget metus. Maecenas faucibus mollis interdum.
