:markdown
  ## Creating a Lapse

  Creates a new lapse for the user.

  #{endpoint_summary(:post, lapses_path, arguments: [:name])}

  #### Arguments

  #{param_title('name', required: true)}

  The name by which the user will identify the lapse.