:markdown
  ## Removing a Lapse

  Destroys an existing lapse belonging to the user. This permanently removes the resource and all associated moments.

  #{endpoint_summary(:delete, lapse_path(":lapse_id"), arguments: [:id])}

  #### Arguments

  #{param_title('id', required: true)}

  The identifier of the lapse to be deleted. Must be passed as an argument in the URL.