:markdown
  ## The lapse object

  ### Attributes

  #{attr_title('name', type: :string)}

  The user-entered name for the lapse Used to differentiate it from other lapses the user has created.
  While this name is functionally used for identification by the user, it does not have to be unique.