:markdown
  ## The lapse object

  ### Attributes

  #{param_title('name', required: true, default: true)}

  The user-entered name for the lapse Used to differentiate it from other lapses the user has created.