:markdown
  ## Updating a Lapse

  Updates an existing lapse.

  #{endpoint_summary(:patch, lapse_path(':lapse_id'), arguments: [:id, :name])}

  #### Arguments

  #{param_title('id', required: true)}

  The identifier of the lapse to be deleted. Must be passed as an argument in the URL.

  #{param_title('name', required: true)}

  The name by which the user will identify the lapse.