:markdown
  # API Reference

  The Lapse API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).
  Our API is designed to have predictable, resource-oriented URLs and to use [HTTP response codes](http://httpstatus.es/) to indicate API errors.
  We use built-in HTTP features, like HTTP authentication and [HTTP verbs](http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods), which can be understood by off-the-shelf HTTP clients.
  [JSON](http://www.jsoneditoronline.org/) will be returned in all responses from the API, including errors.

