.documentation
  @extend .row

.topic
  @extend .columns
  @extend .large-12

.param-wrapper,
.attr-wrapper
  @extend .row

.param-title,
.attr-title
  @extend .columns
  @extend .large-4

  .title
    @extend .right
    font-weight: bold
    &:after
      content: ':'

.param-meta,
.attr-meta
  @extend .columns
  @extend .large-8

  .required,
  .optional,
  .type
    font-weight: bold

  .default,
  .value
    font-style: italic
    &:before
      content: ' | '

.param-wrapper + p,
.attr-wrapper + p
  @extend .columns
  @extend .large-8
  @extend .large-offset-4
  padding-left: .65rem
  margin-top: .5rem

.endpoint-wrapper
  @extend .row

  .summary
    +clearfix
    padding: 20px
    font-size: 1.5rem
    background-color: #a8a8a8
    color: #f3f3f3
    cursor: pointer

    .endpoint-method
      @extend .columns
      @extend .large-4

      text-align: center
      text-transform: uppercase
      font-weight: bold

    .endpoint-path
      @extend .columns
      @extend .large-8

  .example
    +clearfix
    padding: 10px
    background-color: #d3d3d3
    display: none

    .field
      @extend .row

      .input-label
        @extend .columns
        @extend .large-4

        label
          @extend .right
          font-size: 16px
          margin-top: 6px

      .input
        @extend .columns
        @extend .large-8

    .actions
      @extend .right
      .button
        text-transform: uppercase

    .response
      @extend .columns
      @extend .large-12