.row#flash-wrap
  - unless flash.empty?
    #flash
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          .alert-box{class: "#{name}", "data-alert" => ""}
            = msg
            %a.close{href: "#"} &times;