%header
  .navbar
    .navbar-inner
      = link_to 'RailsBaseApp', root_path, class: 'brand'
      %nav
        / %ul.nav
        /   %li.divider-vertical
        /   %li= link_to 'Thing', thing_index_path