%h4#alert-boxes Alert Boxes
.alert-box.radius{"data-alert" => ""}
  This is a standard alert (div.alert-box.radius).
  %a.close{href: ""} ×
.alert-box.success{"data-alert" => ""}
  This is a success alert (div.alert-box.success).
  %a.close{href: ""} ×
.alert-box.alert.round{"data-alert" => ""}
  This is an alert (div.alert-box.alert.round).
  %a.close{href: ""} ×
.alert-box.secondary{"data-alert" => ""}
  This is a secondary alert (div.alert-box.secondary).
  %a.close{href: ""} ×

%hr