%h4#block-grid Block Grid
%ul.small-block-grid-2.large-block-grid-4
  %li
    %img.th{src: "http://foundation.zurb.com/docs/assets/img/examples/comet-th.jpg"}
  %li
    %img.th.hoverZoomLink{src: "http://foundation.zurb.com/docs/assets/img/examples/launch-th.jpg"}
  %li
    %img.th{src: "http://foundation.zurb.com/docs/assets/img/examples/space-th.jpg"}
  %li
    %img.th{src: "http://foundation.zurb.com/docs/assets/img/examples/spacewalk-th.jpg"}
%hr