%h4#buttons Buttons
.row
  .small-6.large-6.columns
    %a.tiny.button{href: "#"} .tiny.button
    %br
    %a.small.button{href: "#"} .small.button
    %br
    %a.button{href: "#"} .button
    %br
    %a.button.expand{href: "#"} .expand
    %br
  .small-6.large-6.columns
    %a.tiny.button.secondary{href: "#"} .tiny.secondary
    %br
    %a.small.button.success.radius{href: "#"} .small.success.radius
    %br
    %a.button.alert.round.disabled{href: "#"} .round.disabled
    %br
%hr