%h4#button-groups Button Groups
%ul.button-group
  %li
    %a.small.button{href: "#"} Button 1
  %li
    %a.small.button{href: "#"} Button 2
  %li
    %a.small.button{href: "#"} Button 3
%ul.button-group.radius
  %li
    %a.button.secondary{href: "#"} Button 1
  %li
    %a.button.secondary{href: "#"} Button 2
  %li
    %a.button.secondary{href: "#"} Button 3
  %li
    %a.button.secondary{href: "#"} Button 4
%ul.button-group.round.even-3
  %li
    %a.button.alert{href: "#"} Button 1
  %li
    %a.button.alert{href: "#"} Button 2
  %li
    %a.button.alert{href: "#"} Button 3
%ul.button-group.round.even-3
  %li
    %input.button.success{type: "submit", value: "Button 1"}
  %li
    %input.button.success{type: "submit", value: "Button 2"}
  %li
    %input.button.success{type: "submit", value: "Button 3"}
%hr