%h4#dropdown-buttons Dropdown Buttons
// Include foundation/foundation.dropdown in your JavaScript manifest
%ul#drop.f-dropdown.content{"data-dropdown-content" => ""}
  %li
    %a{href: "#"} This is a link
  %li
    %a{href: "#"} This is another
  %li
    %a{href: "#"} Yet another
%p
  %a.tiny.button.dropdown{"data-dropdown" => "drop", href: "#"} Dropdown Button
  %br
  %a.small.secondary.radius.button.dropdown{"data-dropdown" => "drop", href: "#"} Dropdown Button
  %br
  %a.button.alert.round.dropdown{"data-dropdown" => "drop", href: "#"} Dropdown Button
  %br
  %a.large.success.button.dropdown{"data-dropdown" => "drop", href: "#"} Dropdown Button
  %br
  %a.large.button.dropdown.expand{"data-dropdown" => "drop", href: "#"} Dropdown Button
%hr