%h4#labels Labels
%p
  %span.label Regular Label
  %br
  %span.radius.secondary.label Radius Secondary Label
  %br
  %span.round.alert.label Round Alert Label
  %br
  %span.success.label Success Label
  %br
%hr