%h4 Lists

%h5 Definition List

%dl
  %dt
    Lower cost
  %dd
    The new version of this product costs significantly less than the
    previous one!
  %dt
    Easier to use
  %dd
    We've changed the product so that it's much easier to use!
  %dt
    Safe for kids
  %dd
    You can leave your kids alone in a room with this product and
    they won't get hurt (not a guarantee).
%hr

%h5 Un-ordered Lists
%ul.disc
  %li
    This list has the
    %code .disc
    class
  %li List item with a much longer description or more content.
  %li
    Available classes for Unordered Lists:
    %ul
      %li
        %code .disc
        (solid circle)
      %li
        %code .circle
        (hollow circle)
      %li
        %code .square
        (solid square)
      %li
        %code .no-bullet
        (no bullets)
  %li List item
  %li List item
  %li List item

%ul.no-bullet
  %li
    This list has the
    %code .no-bullet
    class
  %li List item with a much longer description or more content.
  %li List item
  %li
    List item
    %ul
      %li Nested List Item
      %li Nested List Item
      %li Nested List Item
  %li List item
  %li List item
  %li List item
%hr

%h5 Ordered Lists

%ol
  %li List item with a much longer description or more content.
  %li List item
  %li
    List item
    %ol
      %li Nested List Item
      %li Nested List Item
      %li Nested List Item
  %li List item
  %li List item
  %li List item
%hr
