%h4#magellan Magellan (JS)
// Include foundation/foundation.magellan in your JavaScript manifest
%div{"data-magellan-expedition" => "fixed", style: ""}
  %dl.sub-nav
    %dd{"data-magellan-arrival" => "build"}
      %a{href: "#build"} Build with HTML
    %dd{"data-magellan-arrival" => "js"}
      %a{href: "#js"} Using Javascript
%p
  %a{name: "build"}
%p
%h5{"data-magellan-destination" => "build"} Build With Predefined HTML Structure
%p
%p Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.
%p
  %a{name: "js"}
%p
%h5{"data-magellan-destination" => "js"} Awesome JS Goodness
%p
%p Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.
%hr