%h4#panels Panels
.row
  .large-6.columns
    .panel
      %h5 This is a regular panel.
      %p It has an easy to override visual style, and is appropriately subdued.
  .large-6.columns
    .panel.callout.radius
      %h5 This is a callout panel with radiused edges.
      %p It's a little ostentatious, but useful for important content.
  %p
%p
%hr