%h4#pricing-tables Pricing Tables
.row
  .large-4.columns
    %ul.pricing-table
      %li.title Standard
      %li.price $99.99
      %li.description An awesome description
      %li.bullet-item 1 Database
      %li.bullet-item 5GB Storage
      %li.bullet-item 20 Users
      %li.cta-button
        %a.button{href: "#"} Buy Now
%hr