%h4#progress-bars Progress Bars
.progress.large-6
  %span.meter{style: "width: 40%"}
.radius.progress.success.large-8
  %span.meter{style: "width: 80%"}
.nice.round.progress.alert.large-10
  %span.meter{style: "width: 30%"}
.nice.secondary.progress
  %span.meter{style: "width: 50%"}
%hr