%h4#side-nav Side Nav
.row
  .large-4.columns.end
    %ul.side-nav
      %li.active
        %a{href: "#"} Link 1
      %li
        %a{href: "#"} Link 2
      %li.divider
      %li
        %a{href: "#"} Link 3
      %li
        %a{href: "#"} Link 4
%hr