%h4#sliders Sliders (JS)
// Include foundation/foundation.slider in your JavaScript manifest
.range-slider{"data-slider" => "50"}
  %span.range-slider-handle{style: "-webkit-transform: translateX(452px);"}
  %span.range-slider-active-segment{style: "width: 50%;"}
  %input{type: "hidden", value: "50"}
.range-slider.radius{"data-slider" => "50"}
  %span.range-slider-handle{style: "-webkit-transform: translateX(452px);"}
  %span.range-slider-active-segment{style: "width: 50%;"}
  %input{type: "hidden", value: "50"}
.range-slider.round{"data-slider" => "50"}
  %span.range-slider-handle{style: "-webkit-transform: translateX(452px);"}
  %span.range-slider-active-segment{style: "width: 50%;"}
  %input{type: "hidden", value: "50"}
.range-slider{"data-options" => "step: 20;", "data-slider" => "40"}
  %span.range-slider-handle{style: "-webkit-transform: translateX(361.40000000000003px);"}
  %span.range-slider-active-segment{style: "width: 40%;"}
  %input{type: "hidden", value: "40"}
%hr