%h4#split-buttons Split Buttons (JS)
// Include foundation/foundation.dropdown in your JavaScript manifest
%p
  %a.tiny.button.split{href: "#"}
    Split Button
    %span{"data-dropdown" => "drop"}
  %br
  %a.small.secondary.radius.button.split{href: "#"}
    Split Button
    %span{"data-dropdown" => "drop"}
  %br
  %a.button.alert.round.split{href: "#"}
    Split Button
    %span{"data-dropdown" => "drop"}
  %br
  %a.large.success.button.split{href: "#"}
    Split Button
    %span{"data-dropdown" => "drop"}
%hr