%h4#thumbnails Thumbnails
%p
  %img.th{src: "http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"}
  %img.th{src: "http://foundation.zurb.com/docs/assets/img/examples/space-th-sm.jpg"}
%hr