%h4#type Type

%h5 Headers

%h1 h1. This is a very large header.
%p
%p
%h2 h2. This is a large header.
%p
%p
%h3 h3. This is a medium header.
%p
%p
%h4 h4. This is a moderate header.
%p
%p
%h5 h5. This is a small header.
%p
%h6 h6. This is a tiny header.

%h5 Subheaders
%h1.subheader h1.subheader
%p
%p
%h2.subheader h2.subheader
%p
%p
%h3.subheader h3.subheader
%p
%p
%h4.subheader h4.subheader
%p
%p
%h5.subheader h5.subheader
%p
%h6.subheader h6.subheader

%h5 Small Header Segments
%h1
  h1.
  %small Small segment header.
%h2
  h2.
  %small Small segment header.
%h3
  h3.
  %small Small segment header.
%h4
  h4.
  %small Small segment header.
%h5
  h5.
  %small Small segment header.
%h6
  h6.
  %small Small segment header.
%hr

%h5 Paragraphs and Links
%p
  This is what a standard paragraph looks like. Links are pretty standard the
  %a color is preset
  to the Foundation primary color.
%hr

%h5 Blockquote
%blockquote
  I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.
  %cite Isaac Asimov
%hr

%h5 Vcard
%ul.vcard
  %li.fn Gaius Baltar
  %li.street-address 123 Colonial Ave.
  %li.locality Caprica City
  %li
    %span.state> Caprica
    ,
    %span.zip 12345
  %li.email
    %a{href: "#"} g.baltar@example.com
%hr

%h5 Print Styles
%p Foundation includes print styles developed by HTML5 Boilerplate to give you some basic print-specific styles. These are activated when you print through a media query. It includes:

%ul
  %li Clearing out backgrounds, box shadows and text shadows
  %li Appending link URLs after the anchor text
  %li Bordering blockquotes and pre elements
  %li Page cleanup and window minimization

%p
  On top of that, Foundation includes a couple of simple classes you can use to control elements printing, or not printing. Simply attach
  %code .show-for-print
  to an element to only show when printing, and
  %code .hide-for-print
  to hide something when printing.